{flight, 0, "BRU", "ATL", "Ryanair",  [{600, 150, 0}, {650, 50, 0}, {700, 50, 0}]}.
{flight, 1, "BRU", "ATL", "Delta", [{620, 50, 0}]}.
{flight, 2, "BRU", "ZAG", "Ryanair",  [{700, 10, 0}]}.

{customer, 0, "BRU", "ATL", 5, 600}.
{customer, 1, "BRU", "ATL", 2, 650}.
{customer, 2, "BRU", "ZAG", 1, 700}.
{customer, 3, "BRU", "RJK", 1, 900}.
